USE [POSWebDB]
GO
/****** Object:  UserDefinedFunction [dbo].[LPAD]    Script Date: 1/1/2021 7:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		
-- Create date: Sept 25, 2020
-- Description:	FOR GENERATING SEQUENCE ID WITH PADDING LENGTH
-- =============================================
CREATE FUNCTION [dbo].[LPAD]
(
    @string VARCHAR(MAX), -- Initial string
    @length INT,          -- Size of final string
    @pad CHAR             -- Pad character
)
RETURNS VARCHAR(MAX)
AS
BEGIN
    RETURN REPLICATE(@pad, @length - LEN(@string)) + @string;
END

GO
/****** Object:  Table [dbo].[Entity_Information]    Script Date: 1/1/2021 7:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entity_Information](
	[LegalEntityId] [nvarchar](250) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[GenderId] [nvarchar](100) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Age]  AS ((CONVERT([int],CONVERT([char](8),getdate(),(112)))-CONVERT([char](8),[BirthDate],(112)))/(10000)),
	[CivilStatusTypeId] [nvarchar](100) NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [LegalEntityId] PRIMARY KEY CLUSTERED 
(
	[LegalEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [U_Entity_Information] UNIQUE NONCLUSTERED 
(
	[FirstName] ASC,
	[MiddleName] ASC,
	[LastName] ASC,
	[GenderId] ASC,
	[BirthDate] ASC,
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntityCivilStatusType]    Script Date: 1/1/2021 7:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityCivilStatusType](
	[CivilStatusTypeId] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_CivilStatus] PRIMARY KEY CLUSTERED 
(
	[CivilStatusTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntityContact_Information]    Script Date: 1/1/2021 7:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityContact_Information](
	[LegalEntityContactId] [nvarchar](100) NOT NULL,
	[LegalEntityId] [nvarchar](100) NOT NULL,
	[LegalContactTypeId] [bigint] NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_LegalContact_Information] PRIMARY KEY CLUSTERED 
(
	[LegalEntityContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntityContactType]    Script Date: 1/1/2021 7:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityContactType](
	[LegalContactTypeId] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_EntityContactType] PRIMARY KEY CLUSTERED 
(
	[LegalContactTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntityGenderType]    Script Date: 1/1/2021 7:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityGenderType](
	[GenderId] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_EntityGender] PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 1/1/2021 7:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [bigint] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [varbinary](50) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sequence]    Script Date: 1/1/2021 7:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sequence](
	[TableName] [nvarchar](50) NOT NULL,
	[Prefix] [nvarchar](10) NOT NULL,
	[SequenceLength] [int] NOT NULL,
	[LastNumber] [bigint] NOT NULL,
 CONSTRAINT [U_Sequence] UNIQUE NONCLUSTERED 
(
	[TableName] ASC,
	[Prefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 1/1/2021 7:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[ConfigId] [int] NOT NULL,
	[ConfigGroup] [nvarchar](100) NULL,
	[Key] [nvarchar](100) NULL,
	[Value] [varchar](max) NULL,
	[EntityStatusId] [int] NULL,
	[SystemConfigTypeId] [bigint] NULL,
	[IsUserConfigurable] [bit] NULL,
 CONSTRAINT [PK_SystemConfig] PRIMARY KEY CLUSTERED 
(
	[ConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemMenu]    Script Date: 1/1/2021 7:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMenu](
	[SystemMenuId] [bigint] NOT NULL,
	[ModuleName] [nvarchar](100) NOT NULL,
	[PageName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SystemMenu] PRIMARY KEY CLUSTERED 
(
	[SystemMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_SystemMenu] UNIQUE NONCLUSTERED 
(
	[ModuleName] ASC,
	[PageName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemMenuRole]    Script Date: 1/1/2021 7:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMenuRole](
	[SystemMenuRoleId] [nvarchar](100) NOT NULL,
	[SystemRoleId] [nvarchar](100) NOT NULL,
	[SystemMenuId] [bigint] NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[IsAllowed] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_SystemMenuRole] PRIMARY KEY CLUSTERED 
(
	[SystemMenuRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemPrivileges]    Script Date: 1/1/2021 7:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemPrivileges](
	[SystemPrivilegesId] [bigint] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_SystemPrivileges] PRIMARY KEY CLUSTERED 
(
	[SystemPrivilegesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemRole]    Script Date: 1/1/2021 7:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRole](
	[SystemRoleId] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_SystemRole] PRIMARY KEY CLUSTERED 
(
	[SystemRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_SystemRole] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[LocationId] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemRolePrivileges]    Script Date: 1/1/2021 7:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRolePrivileges](
	[SystemRolePrivilegesId] [nvarchar](100) NOT NULL,
	[SystemRoleId] [nvarchar](100) NOT NULL,
	[SystemPrivilegesId] [bigint] NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[IsAllowed] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_SystemRolePrivileges] PRIMARY KEY CLUSTERED 
(
	[SystemRolePrivilegesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemUser]    Script Date: 1/1/2021 7:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUser](
	[SystemUserId] [nvarchar](100) NOT NULL,
	[LegalEntityId] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[SystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_SystemUser] UNIQUE NONCLUSTERED 
(
	[UserName] ASC,
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SystemUserRoles]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUserRoles](
	[SystemUserRoleId] [nvarchar](100) NOT NULL,
	[SystemUserId] [nvarchar](100) NOT NULL,
	[SystemRoleId] [nvarchar](100) NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedBy] [nvarchar](100) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_SystemUserRoles] PRIMARY KEY CLUSTERED 
(
	[SystemUserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Entity_Information] ADD  CONSTRAINT [DF_Entity_Information_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EntityCivilStatusType] ADD  CONSTRAINT [DF_CivilStatus_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EntityContact_Information] ADD  CONSTRAINT [DF_LegalContact_Information_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EntityContactType] ADD  CONSTRAINT [DF_EntityContactType_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EntityGenderType] ADD  CONSTRAINT [DF_EntityGender_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Location] ADD  CONSTRAINT [DF_Location_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sequence] ADD  CONSTRAINT [DF_Sequence_SequenceLength]  DEFAULT ((0)) FOR [SequenceLength]
GO
ALTER TABLE [dbo].[Sequence] ADD  CONSTRAINT [DF_Sequence_LastNumber]  DEFAULT ((0)) FOR [LastNumber]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  CONSTRAINT [DF_SystemConfig_IsUserConfigurable]  DEFAULT ((1)) FOR [IsUserConfigurable]
GO
ALTER TABLE [dbo].[SystemMenuRole] ADD  CONSTRAINT [DF_SystemMenuRole_IsAllowed]  DEFAULT ((0)) FOR [IsAllowed]
GO
ALTER TABLE [dbo].[SystemMenuRole] ADD  CONSTRAINT [DF_SystemMenuRole_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemPrivileges] ADD  CONSTRAINT [DF_SystemPrivileges_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemRole] ADD  CONSTRAINT [DF_SystemRole_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemRole] ADD  CONSTRAINT [DF_Role_IsPostedToMain]  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[SystemRole] ADD  CONSTRAINT [DF_Role_IsFromMain]  DEFAULT ((0)) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SystemRolePrivileges] ADD  CONSTRAINT [DF_SystemRolePrivileges_IsAllowed]  DEFAULT ((0)) FOR [IsAllowed]
GO
ALTER TABLE [dbo].[SystemRolePrivileges] ADD  CONSTRAINT [DF_SystemRolePrivileges_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemUser] ADD  CONSTRAINT [DF_SystemUser_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemUserRoles] ADD  CONSTRAINT [DF_SystemUserRoles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  StoredProcedure [dbo].[usp_entity_information_add]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_entity_information_add]
	@FirstName			NVARCHAR(100),
	@LastName			NVARCHAR(100),
	@MiddleName			NVARCHAR(100),
	@GenderId			NVARCHAR(100),
	@BirthDate			DATE,
	@CivilStatusTypeId	NVARCHAR(100),
	@LocationId			BIGINT,
	@CreatedBy			NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;

		DECLARE @LegalEntityId nvarchar(100);
		
		exec [dbo].[usp_sequence_getNextCode] 'Entity_Information', @Id = @LegalEntityId OUTPUT

		INSERT INTO [dbo].[Entity_Information](
			[LegalEntityId], 
			[FirstName], 
			[LastName],
			[MiddleName],
			[GenderId],
			[BirthDate],
			[CivilStatusTypeId],
			[LocationId],
			[IsActive],
			[CreatedBy],
			[CreatedAt]
		)
		VALUES(
			@LegalEntityId,
			@FirstName,
			@LastName,
			@MiddleName,
			@GenderId,
			@BirthDate,
			@CivilStatusTypeId,
			@LocationId,
			1,
			@CreatedBy,
			GETDATE()
		);

		SELECT @LegalEntityId;
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_entity_information_update]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_entity_information_update]
	@LegalEntityId		NVARCHAR(100),
	@FirstName			NVARCHAR(100),
	@LastName			NVARCHAR(100),
	@MiddleName			NVARCHAR(100),
	@GenderId			NVARCHAR(100),
	@BirthDate			DATE,
	@CivilStatusTypeId	NVARCHAR(100),
	@UpdatedBy			NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;

		UPDATE [dbo].[Entity_Information] SET
			[FirstName] = @FirstName, 
			[LastName] = @LastName,
			[MiddleName] = @MiddleName,
			[GenderId] = @GenderId,
			[BirthDate] = @BirthDate,
			[CivilStatusTypeId] = @CivilStatusTypeId,
			[UpdatedBy] = @UpdatedBy,
			[UpdatedAt] = GETDATE()
		WHERE [LegalEntityId] = @LegalEntityId;
		
		SELECT @@ROWCOUNT;
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_location_add]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_location_add]
	@LocationId			BIGINT,
	@Name				NVARCHAR(100),
	@CreatedBy			NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;

		INSERT INTO [dbo].[Location](
			[LocationId],
			[Name],
			[IsActive],
			[CreatedBy],
			[CreatedAt]
		)
		VALUES(
			@LocationId,
			@Name,
			1,
			@CreatedBy,
			GETDATE()
		);

		SELECT @LocationId;
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_Reset]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_Reset]
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
		SET NOCOUNT ON;
		
		DELETE FROM [dbo].[Entity_Information];
		DELETE FROM [dbo].[EntityContact_Information];
		DELETE FROM [dbo].[SystemMenuRole];
		DELETE FROM [dbo].[SystemRole];
		DELETE FROM [dbo].[SystemRolePrivileges];
		DELETE FROM [dbo].[SystemUser];
		DELETE FROM [dbo].[SystemUserRoles];
		
		Update [dbo].[Sequence] set [LastNumber] = 0 WHERE [TableName] = 'Entity_Information';
		Update [dbo].[Sequence] set [LastNumber] = 0 WHERE [TableName] = 'SystemMenuRole';
		Update [dbo].[Sequence] set [LastNumber] = 0 WHERE [TableName] = 'SystemRole';
		Update [dbo].[Sequence] set [LastNumber] = 0 WHERE [TableName] = 'SystemRolePrivileges';
		Update [dbo].[Sequence] set [LastNumber] = 0 WHERE [TableName] = 'SystemUser';
		Update [dbo].[Sequence] set [LastNumber] = 0 WHERE [TableName] = 'SystemUserRoles';
        
    END TRY
    BEGIN CATCH

        SELECT
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_sequence_getNextCode]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_sequence_getNextCode]
	@TableName	NVARCHAR(250),
    @Id NVARCHAR(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;
		
		DECLARE @LastNumber INT;
		DECLARE @SequenceLength BIGINT;
		DECLARE @GeneratedId NVARCHAR(100);
		DECLARE @Prefix NVARCHAR(100);
		SELECT @LastNumber = [LastNumber] + 1,@SequenceLength=[SequenceLength],@Prefix=[Prefix] FROM [Sequence] WHERE TableName = @TableName;
		SELECT @GeneratedId = CONCAT(@Prefix, [dbo].LPAD(@LastNumber, @SequenceLength, 0));
		SELECT @Id = IIF(datalength(@GeneratedId)=0,NULL,@GeneratedId);

		UPDATE [dbo].[Sequence] SET [LastNumber] = @LastNumber WHERE [TableName] = @TableName;
		
		RETURN 0
        
    END TRY
    BEGIN CATCH

        SELECT
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemrole_add]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemrole_add]
	@Name				NVARCHAR(100),
	@LocationId			BIGINT,
	@CreatedBy			NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;

		DECLARE @SystemRoleId nvarchar(100);
		
		exec [dbo].[usp_sequence_getNextCode] 'SystemRole', @Id = @SystemRoleId OUTPUT

		INSERT INTO [dbo].[SystemRole](
			[SystemRoleId],
			[Name],
			[LocationId],
			[IsActive],
			[CreatedBy],
			[CreatedAt]
		)
		VALUES(
			@SystemRoleId,
			@Name,
			@LocationId,
			1,
			@CreatedBy,
			GETDATE()
		);

		SELECT @SystemRoleId;
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemrole_delete]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemrole_delete]
	@SystemRoleId		NVARCHAR(100),
	@UpdatedBy			NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;

		IF EXISTS(SELECT * FROM [dbo].[SystemRole] WHERE [SystemRoleId] = @SystemRoleId AND IsActive = 1)
		BEGIN
			-- UPDATE HERE
			UPDATE [dbo].[SystemRole]
			SET 
			[Name] = @SystemRoleId + ' - ' + [Name] + '(DELETED - ' + CONVERT(VARCHAR(50),GETDATE())+ ')',
			[IsActive] = 0,
			[UpdatedBy] = @UpdatedBy,
			[UpdatedAt] = GETDATE()
			WHERE [SystemRoleId] = @SystemRoleId;

			SELECT @@ROWCOUNT;
		END
		ELSE
		BEGIN
			SELECT 1;
		END
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemrole_getByID]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemrole_getByID]
	@SystemRoleId	NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;
		
		DECLARE @LocationId		BIGINT;
		DECLARE @CreatedBy		NVARCHAR(100);
		DECLARE @UpdatedBy		NVARCHAR(100);
		
		SELECT @LocationId = sr.[LocationId], @CreatedBy = sr.CreatedBy, @UpdatedBy = sr.UpdatedBy
		FROM [dbo].[SystemRole] sr
		WHERE sr.[SystemRoleId] = @SystemRoleId
		AND [sr].IsActive = 1;

		SELECT 
		sr.[SystemRoleId],
		sr.[Name],
		sr.[CreatedAt],
		sr.[UpdatedAt]
		FROM [dbo].[SystemRole] AS sr
		WHERE sr.[SystemRoleId] = @SystemRoleId
		AND [sr].IsActive = 1;

		SELECT *
		FROM [dbo].[Location] AS l
		WHERE l.[LocationId] = @LocationId;

		SELECT  su.SystemUserId,ISNULL(ei.FirstName, '') + ' ' + ISNULL(ei.MiddleName, '') + ' ' + ISNULL(ei.LastName, '') AS FullName
		FROM [dbo].[SystemUser] AS su
		LEFT JOIN [dbo].[Entity_Information] ei ON su.LegalEntityId = ei.LegalEntityId
		WHERE su.[SystemUserId] = @CreatedBy;
		
		SELECT  su.SystemUserId,ISNULL(ei.FirstName, '') + ' ' + ISNULL(ei.MiddleName, '') + ' ' + ISNULL(ei.LastName, '') AS FullName
		FROM [dbo].[SystemUser] AS su
		LEFT JOIN [dbo].[Entity_Information] ei ON su.LegalEntityId = ei.LegalEntityId
		WHERE su.[SystemUserId] = @UpdatedBy;

		RETURN 0
        
    END TRY
    BEGIN CATCH

        SELECT
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemrole_getPaged]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		erwin
-- Create date: 2020-09-16
-- Description:	filter contract list by location
-- =============================================
CREATE PROCEDURE [dbo].[usp_systemrole_getPaged]
	@SystemRoleId NVARCHAR(100) = '',
	@Name NVARCHAR(100) = '',
	@CreatedAt NVARCHAR(100) = '',
	@UpdatedAt NVARCHAR(100) = '',
	@PageNo BIGINT = 1,
	@PageSize BIGINT = 10,
	@LocationId NVARCHAR(100) = 0
AS
BEGIN
	SET NOCOUNT ON;

	
		WITH DATA_CTE
		AS
		(
			Select tableSource.*, ROW_NUMBER() OVER(ORDER BY SystemRoleId ASC) AS row_num ,
			count(*) over() as TotalRows
			FROM (
			 SELECT 
			 sr.SystemRoleId,
			 MAX(sr.[Name])[Name],
			 MAX(sr.[CreatedAt])[CreatedAt],
			 MAX(sr.[UpdatedAt])[UpdatedAt],
			 MAX(l.[LocationId])[LocationId],
			 MAX(l.[Name])[LocationName],
			 MAX(cb.[SystemUserId])[CreatedBy],
			 MAX(ISNULL(cb_ei.FirstName, '') + ' ' + ISNULL(cb_ei.MiddleName, '') + ' ' + ISNULL(cb_ei.LastName, ''))[CreatedByFullName],
			 MAX(ub.[SystemUserId])[UpdatedBy],
			 MAX(ISNULL(cb_ei.FirstName, '') + ' ' + ISNULL(cb_ei.MiddleName, '') + ' ' + ISNULL(cb_ei.LastName, ''))[UpdatedByFullName]
			FROM [dbo].[SystemRole] AS sr
			LEFT JOIN [dbo].[Location] l ON sr.[LocationId] = l.[LocationId]
			LEFT JOIN [dbo].[SystemUser] cb ON sr.[CreatedBy] = cb.SystemUserId
			LEFT JOIN [dbo].[Entity_Information] cb_ei ON cb.LegalEntityId = cb_ei.LegalEntityId
			LEFT JOIN [dbo].[SystemUser] ub ON sr.[UpdatedBy] = ub.SystemUserId
			LEFT JOIN [dbo].[Entity_Information] ub_ei ON ub.LegalEntityId = ub_ei.LegalEntityId
			WHERE sr.IsActive = 1
			AND sr.LocationId = @LocationId
			AND (sr.SystemRoleId like '%' + @SystemRoleId + '%' OR @SystemRoleId= '' OR @SystemRoleId IS NULL)
			AND (sr.CreatedAt like '%' + @CreatedAt + '%' OR @CreatedAt= '' OR @CreatedAt IS NULL)
			AND (ISNULL(sr.UpdatedAt, '') like '%' + @UpdatedAt + '%' OR @UpdatedAt= '' OR @UpdatedAt IS NULL)
			GROUP BY sr.SystemRoleId
			) tableSource
		)
		SELECT 
		src.[SystemRoleId],
		src.[Name],
		src.[CreatedAt],
		src.[UpdatedAt],
		src.[LocationId],
		src.[LocationName] AS [Name],
		src.[CreatedBy] AS [SystemUserId],
		src.[CreatedByFullName] AS [FullName],
		src.[UpdatedBy] AS [SystemUserId],
		src.[UpdatedByFullName] AS [FullName],
		src.TotalRows
		 FROM DATA_CTE src
		WHERE src.row_num between ((@PageNo - 1) * @PageSize + 1 ) 
		and (@PageNo * @PageSize)
		ORDER BY src.row_num 

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemrole_update]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemrole_update]
	@SystemRoleId		NVARCHAR(100),
	@Name				NVARCHAR(100),
	@UpdatedBy			NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;
		-- UPDATE HERE
		UPDATE [dbo].[SystemRole]
		SET 
		[Name] = @Name,
		[UpdatedBy] = @UpdatedBy,
		[UpdatedAt] = GETDATE()
		WHERE [SystemRoleId] = @SystemRoleId;

		SELECT @@ROWCOUNT;
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemuser_add]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemuser_add]
	@LegalEntityId		NVARCHAR(100),
	@UserName			NVARCHAR(100),
	@Password			NVARCHAR(100),
	@LocationId			BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;

		DECLARE @SystemUserId nvarchar(100);
		
		exec [dbo].[usp_sequence_getNextCode] 'SystemUser', @Id = @SystemUserId OUTPUT

		INSERT INTO [dbo].[SystemUser](
			[SystemUserId], 
			[LegalEntityId], 
			[UserName],
			[Password],
			[LocationId],
			[IsActive],
			[CreatedAt]
		)
		VALUES(
			@SystemUserId,
			@LegalEntityId,
			@UserName,
			HashBytes('MD5', @Password),
			@LocationId,
			1,
			GETDATE()
		);

		SELECT @SystemUserId;
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemuser_getByCredentials]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemuser_getByCredentials]
	@Username	NVARCHAR(100),
	@Password	NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;
		
		DECLARE @SystemUserId		NVARCHAR(100);
		DECLARE @LocationId			BIGINT;
		DECLARE @LegalEntityId		NVARCHAR(100);
		DECLARE @GenderId			NVARCHAR(100);
		DECLARE @CivilStatusTypeId	NVARCHAR(100);
		
		SELECT  @LegalEntityId = su.LegalEntityId, @SystemUserId = su.[SystemUserId],@LocationId = su.[LocationId]
		FROM [dbo].[SystemUser] su
		WHERE su.Username = @Username AND su.[Password] = HashBytes('MD5', @Password) AND IsActive = 1;

		SELECT  *
		FROM [dbo].[SystemUser] AS su
		WHERE su.[SystemUserId] = @SystemUserId;
		
		SELECT *
		FROM [dbo].[Location] AS l
		WHERE l.[LocationId] = @LocationId;
		
		SELECT  
		@GenderId = ei.[GenderId],
		@CivilStatusTypeId = ei.[CivilStatusTypeId]
		FROM [dbo].[Entity_Information] AS ei
		WHERE ei.[LegalEntityId] = @LegalEntityId;

		SELECT  
		ei.[LegalEntityId],
		ei.[FirstName],
		ei.[LastName],
		ei.[MiddleName],
		ei.[BirthDate],
		ei.[Age],
		ei.[CreatedAt],
		ei.[UpdatedAt]
		FROM [dbo].[Entity_Information] AS ei
		WHERE ei.[LegalEntityId] = @LegalEntityId;

		SELECT  
		egt.[GenderId],
		egt.[Name]
		FROM [dbo].[EntityGenderType] AS egt
		WHERE egt.[GenderId] = @GenderId;
		
		SELECT  
		ecst.[CivilStatusTypeId],
		ecst.[Name]
		FROM [dbo].[EntityCivilStatusType] AS ecst
		WHERE ecst.[CivilStatusTypeId] = @CivilStatusTypeId;

		
		SELECT
		eci.[LegalEntityContactId],
		eci.[Value]
		FROM [dbo].[EntityContact_Information] AS eci
		WHERE eci.[LegalEntityId] = @LegalEntityId;

		RETURN 0
        
    END TRY
    BEGIN CATCH

        SELECT
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemuser_getByID]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemuser_getByID]
	@SystemUserId	NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;
		
		DECLARE @LocationId			BIGINT;
		DECLARE @LegalEntityId		NVARCHAR(100);
		DECLARE @GenderId			NVARCHAR(100);
		DECLARE @CivilStatusTypeId	NVARCHAR(100);
		
		SELECT  @LegalEntityId = su.LegalEntityId, @LocationId = su.[LocationId]
		FROM [dbo].[SystemUser] su
		WHERE su.[SystemUserId] = @SystemUserId;
		
		SELECT  *
		FROM [dbo].[SystemUser] AS su
		WHERE su.[SystemUserId] = @SystemUserId;
		
		SELECT *
		FROM [dbo].[Location] AS l
		WHERE l.[LocationId] = @LocationId;
		
		SELECT  
		@GenderId = ei.[GenderId],
		@CivilStatusTypeId = ei.[CivilStatusTypeId]
		FROM [dbo].[Entity_Information] AS ei
		WHERE ei.[LegalEntityId] = @LegalEntityId;

		SELECT  
		ei.[LegalEntityId],
		ei.[FirstName],
		ei.[LastName],
		ei.[MiddleName],
		ei.[BirthDate],
		ei.[Age],
		ei.[CreatedAt],
		ei.[UpdatedAt]
		FROM [dbo].[Entity_Information] AS ei
		WHERE ei.[LegalEntityId] = @LegalEntityId;

		SELECT  
		egt.[GenderId],
		egt.[Name]
		FROM [dbo].[EntityGenderType] AS egt
		WHERE egt.[GenderId] = @GenderId;
		
		SELECT  
		ecst.[CivilStatusTypeId],
		ecst.[Name]
		FROM [dbo].[EntityCivilStatusType] AS ecst
		WHERE ecst.[CivilStatusTypeId] = @CivilStatusTypeId;

		SELECT  
		l.LocationId,
		l.[Name]
		FROM [dbo].[Location] AS l
		WHERE l.LocationId = @LocationId;

		
		SELECT
		eci.[LegalEntityContactId],
		eci.[Value]
		FROM [dbo].[EntityContact_Information] AS eci
		WHERE eci.[LegalEntityId] = @LegalEntityId;


		RETURN 0
        
    END TRY
    BEGIN CATCH

        SELECT
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemuser_getPaged]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		erwin
-- Create date: 2020-09-16
-- Description:	filter contract list by location
-- =============================================
CREATE PROCEDURE [dbo].[usp_systemuser_getPaged]
	@SystemUserId NVARCHAR(100) = '',
	@UserName NVARCHAR(100) = '',
	@FullName NVARCHAR(300) = '',
	@Gender NVARCHAR(100) = '',
	@Role NVARCHAR(100) = '',
	@CreatedAt NVARCHAR(100) = '',
	@UpdatedAt NVARCHAR(100) = '',
	@PageNo BIGINT = 1,
	@PageSize BIGINT = 10,
	@LocationId NVARCHAR(100) = 0
AS
BEGIN
	SET NOCOUNT ON;

	
		WITH DATA_CTE
		AS
		(
			Select tableSource.*, ROW_NUMBER() OVER(ORDER BY SystemUserId ASC) AS row_num ,
			count(*) over() as TotalRows
			FROM (
			 SELECT 
			 su.SystemUserId,
			 MAX(su.[UserName])[UserName],
			 MAX(su.[Password])[Password],
			 MAX(su.[CreatedAt])[CreatedAt],
			 MAX(su.[UpdatedAt])[UpdatedAt],
			 MAX(ei.[LegalEntityId])[LegalEntityId],
			 MAX(ei.[FullName])[FullName],
			 MAX(ei.[BirthDate])[BirthDate],
			 MAX(ei.[LocationId])[LocationId],
			 MAX(eg.[GenderId])[GenderId],
			 MAX(eg.[Name])[GenderName],
			 MAX(ecst.[CivilStatusTypeId])[CivilStatusTypeId],
			 MAX(ecst.[Name])[CivilStatusName]
			FROM (SELECT * FROM [dbo].[SystemUser] WHERE [IsActive] = 1) AS su
			LEFT JOIN (SELECT * FROM [dbo].[SystemUserRoles] WHERE [IsActive] = 1) sur ON su.SystemUserId = sur.SystemUserId
			LEFT JOIN (SELECT * FROM [dbo].[SystemRole] WHERE [IsActive] = 1) sr ON sur.SystemRoleId = sr.SystemRoleId
			LEFT JOIN (SELECT *,ISNULL([FirstName],'') + ' ' + ISNULL([MiddleName],'') + ' ' + ISNULL([LastName],'') AS [FullName] FROM [dbo].[Entity_Information] WHERE [IsActive] = 1) AS ei ON su.LegalEntityId = ei.LegalEntityId
			LEFT JOIN (SELECT * FROM [dbo].[EntityGenderType] WHERE [IsActive] = 1) AS eg ON ei.GenderId = eg.GenderId
			LEFT JOIN (SELECT * FROM [dbo].[EntityCivilStatusType] WHERE [IsActive] = 1) AS ecst ON ei.CivilStatusTypeId = ecst.CivilStatusTypeId
			WHERE su.LocationId = @LocationId
			AND (su.SystemUserId like '%' + @SystemUserId + '%' OR @SystemUserId= '' OR @SystemUserId IS NULL)
			AND (su.[UserName] like '%' + @UserName + '%' OR @UserName= '' OR @UserName IS NULL)
			AND (su.[CreatedAt] like '%' + @CreatedAt + '%' OR @CreatedAt= '' OR @CreatedAt IS NULL)
			AND (su.[UpdatedAt] like '%' + @UpdatedAt + '%' OR @UpdatedAt= '' OR @UpdatedAt IS NULL)
			AND (sr.[Name] like '%' + @Role + '%' OR @Role= '' OR @Role IS NULL)
			AND (ei.[FullName] like '%' + @FullName + '%' OR @FullName= '' OR @FullName IS NULL)
			AND (eg.[Name] like '%' + @Gender + '%' OR @Gender= '' OR @Gender IS NULL)
			GROUP BY su.SystemUserId
			) tableSource
		)
		SELECT 
		src.SystemUserId,
		src.[UserName],
		src.[Password],
		src.[CreatedAt],
		src.[UpdatedAt],
		src.[LegalEntityId],
		src.[FullName],
		src.[BirthDate],
		src.[LocationId],
		src.[GenderId],
		src.[GenderName] AS [Name],
		src.[CivilStatusTypeId],
		src.[CivilStatusName] AS [Name],
		src.TotalRows
		 FROM DATA_CTE src
		WHERE src.row_num between ((@PageNo - 1) * @PageSize + 1 ) 
		and (@PageNo * @PageSize)
		ORDER BY src.row_num 

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemuser_update]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemuser_update]
	@SystemUserId		NVARCHAR(100),
	@UpdatedBy			NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;
		-- UPDATE HERE
		UPDATE [dbo].[SystemUser]
		SET 
		[UpdatedBy] = @UpdatedBy,
		[UpdatedAt] = GETDATE()
		WHERE [SystemUserId] = @SystemUserId;

		SELECT @@ROWCOUNT;
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[usp_systemuserroles_add]    Script Date: 1/1/2021 7:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- Created date: Sept 25, 2020
-- Author: 
-- ====================================================================
CREATE PROCEDURE [dbo].[usp_systemuserroles_add]
	@SystemUserId		NVARCHAR(100),
	@SystemRoleId		NVARCHAR(100),
	@LocationId			BIGINT,
	@CreatedBy			NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

		SET NOCOUNT ON;

		DECLARE @SystemUserRoleId nvarchar(100);
		
		exec [dbo].[usp_sequence_getNextCode] 'SystemUserRoles', @Id = @SystemUserRoleId OUTPUT

		INSERT INTO [dbo].[SystemUserRoles](
			[SystemUserRoleId],
			[SystemUserId],
			[SystemRoleId],
			[LocationId],
			[IsActive],
			[CreatedBy],
			[CreatedAt]
		)
		VALUES(
			@SystemUserRoleId,
			@SystemUserId,
			@SystemRoleId,
			@LocationId,
			1,
			@CreatedBy,
			GETDATE()
		);

		SELECT @SystemUserRoleId;
        
    END TRY
    BEGIN CATCH

        SELECT
			'Error - ' + ERROR_MESSAGE()   AS ErrorMessage,
            'Error'           AS Status,
            ERROR_NUMBER()    AS ErrorNumber,
            ERROR_SEVERITY()  AS ErrorSeverity,
            ERROR_STATE()     AS ErrorState,
            ERROR_PROCEDURE() AS ErrorProcedure,
            ERROR_LINE()      AS ErrorLine,
            ERROR_MESSAGE()   AS ErrorMessage;

    END CATCH

END
GO
